$color-white: rgb(248, 248, 248);
$gradient: rgb(211, 173, 4);
$main-color: rgb(17, 17, 17);

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
